<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta HTTP-EQUIV="Content-Type" content="text/html, width=device-width, initial-scale=1.0" charset="UTF-8"
          name="viewport">
    <title>
        {% block title %}
            {% if title is defined and title is not null %}
                {{ title }}
            {% else %}
                Welcome!
            {% endif %}
        {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {#        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">#}
        {#        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">#}
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark navbar-bg {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }}"></nav>
{% endblock navbar %}
{% block body %}{% endblock body %}
{% block javascripts %}{% endblock javascripts %}
</body>
</html>